* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  background-image: url(/public/bg1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}
.title {
  padding-top: 30px;
  text-align: center;
  color: white;
}

h2 {
  text-align: center;
}
.currently {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  height: 70vh;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.col {
  display: flex;
  flex-direction: column;
  width: 30%;
  text-align: center;
  padding: 1rem;
}
.col p {
  margin-top: 5px;
  font-weight: bold;
}
h3 {
  padding: 10px;
  background-color: skyblue;
  border-radius: 20px;
  margin-bottom: 10px;
  color: white;
}

.weatherbtn .colbtn {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.weatherbtn .btnsize {
  margin: 10px;
  border-radius: 20px;
  border: 1px solid lightblue;
  padding: 10px;
  width: 15%;
}
.subtitle {
  text-align: center;
  margin: 10px auto;
}
.inputlist {
  height: 30px;
  padding: 0 10px;
}
.selectStyle {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 20px;
  width: auto;
  text-align: center;
  margin-right: 10px;
  padding: 10px;
}
